@import "fonts"
@import "colors"
@import "header"
@import "footer"
@import "styles"


body
  margin: 0

.brands
  display: flex
  padding: 52px
  align-items: center
  justify-content: center

  div
    height: 192px
    width: 100%
    display: flex
    border-top: 1px solid #D0D5DD
    border-bottom: 1px solid #D0D5DD
    @include box(space-between)
    justify-content: center

    button
      width: 52px
      height: 52px
      padding: 10px
      border: none
      border-radius: 100px
      background-color: white
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06)

    div
      gap: 48px
      justify-content: center
      align-items: center
      height: auto
      border: none

  @include device(mobile)
    padding: 40px 16px

    div
      border: none
      flex-wrap: wrap
      height: auto

    &__img
      display: flex
      height: auto
      padding: 0
      flex-basis: 100%
      flex-wrap: nowrap
      gap: 10px

      img
        flex-grow: 1
        width: 29%
        box-sizing: border-box

  @include device(tablet)
    padding: 40px 25px

    div
      height: 120px

      img
        width: 10%

.brands__navigation
  @include device(desktop)
    display: none

  @include device(mobile)
    margin-top: 32px

  @include device(tablet)
    display: none


.banner
  display: flex
  padding: 52px
  align-items: center
  gap: 32px
  justify-content: space-between

  div
    width: 424px
    padding-bottom: 32px
    align-items: center
    text-align: center

    img
      width: 424px
      height: 524px

    p
      @include font-master(16px, 400, 26px)
      margin: 16px 0 0 0
      color: $grey-for-text

    h6
      @include font-master(20px, 600, 28px)

  @include device(tablet)
    padding: 30px 25px 20px
    gap: 0

    div
      width: 30%

      img
        width: 100%
        height: auto

      p
        @include setSize(14px, 22px)

      h6
        @include setSize(17px, 24px)

  @include device(mobile)
    padding: 24px 16px 0
    flex-direction: column

    div
      width: auto

      img
        width: 100%
        height: auto


.stock
  padding: 52px
  @include box(center)

  &__content
    align-items: center
    gap: 8%
    display: flex
    background-color: $background

    img
      width: 53%

  @include device(mobile)
    padding: 0 0 24px 0

    &__content
      flex-direction: column
      gap: 16px

      img
        width: 100%

  @include device(tablet)
    padding: 25px

  &__text
    justify-content: center
    align-items: flex-start
    width: 456px

    &__exclusive
      @include font-master(16px, 600, 26px)

    h3
      @include font-master(54px, 600, 62px)
      letter-spacing: -1px
      margin: 8px 0

    &__other
      @include font-master(18px, 400, 30px)

    h5
      @include font-master(34px, 600, 40px)
      letter-spacing: -0.4px
      margin: 24px 0 32px 0

    button
      background-color: $black-for-text
      padding: 10px 24px
      @include box(center)
      @include font-master(18px, 600, 32px)
      color: white
      letter-spacing: -0.4px

    @include device(mobile)
      width: auto
      padding: 0 16px

      &__exclusive
        @include setSize(12px, 20px)

      h3
        @include setSize(34px, 40px)
        letter-spacing: -0.4px
        margin: 4px 0 8px

      &__other
        @include setSize(14px, 22px)

      h5
        @include setSize(28px, 34px)
        margin: 20px 0 28px 0

      button
        padding: 9px 24px
        @include setSize(16px, 28px)


    @include device(tablet)
      width: auto

      &__exclusive
        @include setSize(14px, 23px)

      h3
        @include setSize(44px, 51px)
        letter-spacing: -0.7px
        margin: 4px 0 8px

      &__other
        @include setSize(16px, 26px)

      h5
        @include setSize(28px, 35px)
        margin: 20px 0 28px 0

      button
        padding: 9px 24px
        @include setSize(17px, 37px)


.sign_up
  display: flex
  flex-direction: column
  padding: 52px
  align-items: center

  &__conture
    display: flex
    width: 100%
    border-radius: 12px
    border: 1px solid #9D9FA1
    @include box(center)

  &__content
    display: flex
    margin: 87px 0 79px 0
    @include box(center)
    width: 540px
    flex-direction: column

  &__header
    display: flex
    flex-direction: column
    gap: 8px
    text-align: center

    h4
      @include font-master(42px, 600, 54px)
      letter-spacing: -0.4px

    p
      @include font-master(18px, 400, 30px)

  &__form
    margin: 24px 0 0 0
    height: 52px
    width: 100%
    display: flex
    @include box(center)
    border-bottom: 1px solid #D0D5DD
    gap: 8px

    img
      width: 24px
      height: 24px

    form
      width: 100%

    input
      width: 100%
      border: none
      @include font-master(16px, 400, 26px)
      color: #9D9FA1

    button
      border: none
      background-color: white
      @include font-master(16px, 600, 28px)
      letter-spacing: -0.4px

      @include device(mobile)
        display: none

  @include device(mobile)
    padding: 16px

    &__header
      padding: 0 16px

      h4
        @include setSize(34px, 40px)

      p
        @include setSize(14px, 22px)

    &__form
      margin: 24px 16px 14px 16px
      width: 90%

      img
        height: 20px

      input
        @include setSize(14px, 22px)

  @include device(tablet)
    padding: 25px

    &__header
      padding: 0 16px

      h4
        @include setSize(38px, 46px)

      p
        @include setSize(16px, 26px)

      img
        height: 22px

      input
        @include setSize(15px, 26px)

.sign_up__mobile__button
  display: flex
  align-self: stretch
  background-color: $black-for-text
  justify-content: center
  margin: 0 16px
  padding: 8px 0
  border-radius: 6px
  @include font-master(14px, 600, 24px)
  color: white

  @include device(desktop)
    display: none

  @include device(tablet)
    display: none


.exquisite
  background-image: url("images/exquisite.png")
  background-size: cover
  background-position: center
  display: flex
  height: 598px
  @include box(center)
  margin: 52px

  &__text
    font-family: Inter, sans-serif
    font-style: normal
    width: 478px
    text-align: center

    h4
      @include font-master(42px, 600, 54px)
      letter-spacing: -0.4px
      color: white

    p
      @include font-master(18px, 400, 30px)
      margin: 13px 0 24px 0
      color: white

    button
      @include font-master(18px, 500, 32px)
      background-color: transparent
      border: none
      border-bottom: 1px solid #FFF
      color: white

  @include device(mobile)
    margin: 24px 16px
    height: 375px

    &__text
      width: 100%
      padding: 24px

    h4
      @include setSize(34px, 40px)

    p
      @include setSize(14px, 22px)
      margin: 12px 0 16px 0

    button
      @include setSize(16px, 28px)

  @include device(tablet)
    margin: 30px 25px
    height: 450px

    h4
      @include setSize(38px, 46px)

    p
      @include setSize(16px, 26px)
      margin: 12px 0 16px 0

    button
      @include setSize(17px, 20px)